<fieldset>
  <table>
    <thead>
      <tr>
        <th><%= f.label :answer_content, t("answer") %></th>
        <th><%= f.label :correct %></th>
        <th><%= f.hidden_field :_destroy %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_area :answer_content, class: "form-control" %></td>
        <td><%= f.check_box :correct, value: :correct %></td>
        <td><%= link_to_remove_fields t("remove"), f %></td>
      </tr>
    </tbody>
  </table>
</fieldset>
